.button:hover {
    -fx-background-color: white;
    -fx-border-color: pink;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-cursor: hand;
    -fx-transition: background-color 0.3s, text-fill 0.3s, scale 0.3s, border-color 0.3s;
}
